<div class="container-fluid mt-4 p-5">
  <div class="row">
    <div class="col-md-2">
      <!-- sidebar starts -->
      <div class="bg-sidebar">
        <ul>
          <li [class.active]="isActive('/panorbit/profile')">
            <a routerLink="/panorbit/profile">Profile</a>
          </li>
          <li [class.active]="isActive('/panorbit/posts')">
            <a routerLink="/panorbit/posts">Posts</a>
          </li>
          <li [class.active]="isActive('/panorbit/gallery')">
            <a routerLink="/panorbit/gallery">Gallery</a>
          </li>
          <li [class.active]="isActive('/panorbit/todo')">
            <a routerLink="/panorbit/todo">ToDo</a>
          </li>
        </ul>
      </div>
      
      
      
      
    </div>
    <div class="col-md-10">
 
      <router-outlet></router-outlet>
      <!-- chatbox starts -->
      <div class="container">
        <button class="expand-button" (click)="toggleDiv()" [class.active]="showDiv">
        <div class="space-between">
          <div class="button-text"><i class="bi bi-chat-right"></i> &nbsp;Chats</div>
          <div class="arrow" [class.rotated]="showDiv"><i class="bi bi-chevron-down"></i></div>
        </div> 
        </button>
      
        <div class="bottom-div">
          <div class="additional-div" [class.hidden]="!showDiv">
            <!-- Additional content -->
            <div class="chat-box-profile-list profile-list">
              <ul class="user-list">
                <li *ngFor="let user of users; let i=index" [class.odd]="i % 2 === 0" [class.even]="i % 2 !== 0">
                  <img [src]="user.profilepicture" alt="User Profile" class="profile-img" />&nbsp;
                  <span>{{ user.name }}</span>
                  <span class="dot"></span>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
      
      
      
      
    </div>
  </div>
</div>
