.longitude {
  font-size: 15px;
  color: #918f8f;
  font-weight: 500;
}
.latitude {
  font-size: 15px;
  font-weight: 500;
  margin-left: 4px;
}
.big-profile-img {
  width: 192px !important;
  height: 192px !important;
}
.person-details {
  font-size: 20px;
  font-weight: 500;
}
.border-left {
  border-left: 1px solid #ccc;
  padding: 20px;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
  padding: 20px;
}
.text-center {
  text-align: center;
}
.label {
  font-weight: 500;
  padding-right: 10px;
  text-align: right;
  color: #918f8f;
  font-size: 20px;
}

table {
  width: 100%;
}

td {
  padding: 5px;
}
tr td:nth-child(2) {
  font-size: 20px;
  font-weight: 500;
  margin-left: 4px;
}
.border-left {
  border-left: 1px solid #ccc;
  padding-left: 20px;
}
@media (min-width: 1482px) and (max-width: 2540px) {
table {
  width: 70%;
}
}