


<div *ngIf="user" class="my-3">

  <div class="row">
    <div class="col-md-5 border-right">
      <div class="border-bottom">
        <div class=" text-center">
          <p>
            <img [src]="user.profilepicture" alt="User Profile" class="profile-img big-profile-img" />
          </p>
          <p class="person-details">{{ user.name }}</p>
        </div>
        <div >
          <p>
            <span>Username:</span> <span>{{ user.username }}</span>
          </p>
          <p><span>Email:</span> <span>{{ user.email }}</span></p>
          <p><span>Phone:</span><span>{{ user.phone }}</span></p>
          <p><span>Website:</span><span>{{ user.website }}</span></p>
        </div>


      </div>
      <div>
        <p class="text-center"><span>Company</span></p>
        <p><span>Name:</span><span>{{ user.company.name }}</span></p>
        <p><span>Catchphrase:</span><span>{{ user.company.catchPhrase }}</span></p>
        <p><span>bs:</span><span>{{ user.company.bs }}</span></p>
      </div>
    </div>
    <div class="col-md-7 border-left">
      <div>
        <p><span>Address:</span></p>
        <p><span>Street:</span><span>{{ user.address.street }}</span></p>
        <p><span>Suite:</span><span>{{ user.address.suite }}</span></p>
        <p><span>City:</span><span>{{ user.address.city }}</span></p>
        <p><span>ZipCode:</span><span>{{ user.address.zipcode }}</span></p>
      </div>
      <div>
        <!-- <p><span>Website:</span><span>{{ user.website }}</span></p> -->
        <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.457682714406!2d-97.74305728530362!3d30.267153481791466!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b59930a4aaab%3A0x715969634e667e3b!2sAustin%2C%20TX%2C%20USA!5e0!3m2!1sen!2sin!4v1567936844193!5m2!1sen!2sin" width="490" height="300" style="border: raduis 25px;" allowfullscreen="" loading="lazy"></iframe>

        </div>
        <div class="align-end">
        <div>
          <span class="latitude">Lat:</span><span class="longitude">{{ user.address.geo.lat }}</span></div>&nbsp;
          <div><span class="latitude">Long:</span><span class="longitude">{{ user.address.geo.lng }}</span></div>
        </div>
      </div>
    </div>
  </div>
</div>


